/* mobile devices */
@media screen and (max-width: 600px) {
    nav{
        flex-direction: column;
    }
    .nav-right ul{
      flex-direction: column; 
    }
    li{   
      font-size: 35px;
    }
    .your-travel-input{ 
       flex-direction: column;
       padding: 15px 25px;
    } 
    .btn{
      flex-direction: column;
      text-align: center;
    }
    /* header section end here */

    .Popular-Tours{
      flex-direction: column;
      font-size: medium;
      padding: 10px;
  }
  .Popular-Tours-left{
    width: 100%; 
    line-height: 35px;
    margin-bottom: 10px;
}
.Popular-Tours-Right{
  width: 100%;  
  text-align: center;
}
/* Popular-Tours section end here */

.destination-2-img-container{
  flex-direction: column;
}
.single-img-1{
  width: 100%;
  padding: 10px;
  height: 400px; 
}
.single-img-2{
  width: 100%;
  padding: 10px;
  height: 400px; 
}
.destination-3-img-container{  
   flex-direction: column;
}
.img-1{
  width: 100%;
  padding: 10px;
  height: 400px;
}
.img-2{
  width: 100%;
  padding: 10px;
  height: 400px;
}
.img-3{
  width: 100%;
  padding: 10px;
  height: 400px;
}
.destination-bd-bandorbon{
   flex-direction: column;
}
.bangladesh{
  width: 100%;
  padding: 10px;
  height: 400px;
}
.Bandarban{
  width: 100%;
  padding: 10px;
  height: 400px;
}
/* Your-Destination section end here */

.Choose-icon-text-container{
 flex-direction: column;
}
.Handpicked-Hotel{
  width: 100%;
  padding: 10px;
}
.Best-Price{
  width: 100%; 
  padding: 20px;
}

  }



  /* Medium devices  */
  @media only screen and (max-width: 768px) {
    nav{
      flex-direction: column;
  }
  .nav-right ul{
    grid-template-columns: repeat(2, 1fr);
     
  }
  li{   
    margin-right: 10px;
  }
  }
 
 
 
 
  