@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Roboto", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
}
.nav-left{
    display: flex;
    align-items: center;
    width: 50%;
}
.nav-left img{ 
    height: 25px;
}

.primary{
    color: rgb(255, 106, 0);
}
.nav-right{ 
    width: 50%;
}
.nav-right ul{
    display: flex; 
    justify-content: space-between;
    list-style: none;
}
li{ 
    font-size: 20px;
}

/* nav section end here */

.your-travel{
    background-image: url(./Images/Group\ 13\ \(1\)\ \(1\).png);
    max-width: 1200px;
    height: 500px;   
    opacity: 5.05;  
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.your-travel-text{  
    width: 550px; 
    text-align: center;
    margin: 0 auto;
    padding-top: 120px;
    color: white;
}
.your-travel-text h1{
    font-size: 45px;
}
.your-travel-text p{
    margin-bottom: 40px;
}
.your-travel-input{
    text-align: center;  
    margin: 0 auto;
    height: 100px;
    text-align: center;
    padding: 30px;
    border-radius: 10px; 
   
}
.your-travel-input input{
    padding: 10px 10px;
    border-radius: 10px;
    border-style: none;  
    
}
.submit{
    background-color: orangered;
    color: white;  
}

/* Header section end here */

main{
    max-width: 1200px;
    margin: 0 auto;
}
.Popular-Tours{
    margin: 50px 0px;
    display: flex;
    justify-content: space-between;
}
.Popular-Tours-left{
    width: 50%; 
    line-height: 25px;
}
.Popular-Tours-left h1{
    margin: 10px 0px;
}
.Popular-Tours-left p{
    margin: 10px 0px;
}
 
.btn{
    padding: 15px 25px;
    color: whitesmoke;
    border-style: none; 
    font-weight: bolder;
    font-size: 18px;
    border-radius: 10px;
    background-color: orangered;
}
.Popular-Tours-Right{
    width: 50%; 
    text-align: right; 
}
.Popular-Tours-Right img{
    width: 400px;
    height: 400px;
}
/* popular-tours section end here */

.Your-Destination{ 
    margin-bottom: 15px;
}
.Your-Destination-text{
    width: 550px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
}
.Your-Destination-text h1{
    font-size: 35px;
}
.destination-2-img-container{
    max-width: 1200px;
    display: flex;
    align-items: center; 
    margin-top: 15px;
}
.single-img-1{
    width: 50%;
    height: 400px;
    text-align: center;
    background-image: url(./Images/Rectangle\ 5.png);
    background-position: center;
    background-repeat: no-repeat;  
}
 
.single-img-2{
    width: 50%;
    height: 400px;
    text-align: center;
    background-image: url(./Images/Rectangle\ 8.png);
    background-position: center;
    background-repeat: no-repeat; 
}
 

.destination-3-img-container{  
    max-width: 1200px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.img-1{
    width: 35%;
    height: 400px;
    text-align: center;
    background-image: url(./Images/Rectangle\ 6.png);
    background-position: center; 
    background-repeat: no-repeat; 
}
 
.img-2{
    width: 40%;
    height: 400px;
    text-align: center;
    background-image: url(./Images/Rectangle\ 7.png);
    background-position: center;
    background-repeat: no-repeat; 
}
 
.img-3{
    width: 25%;
    text-align: center;
    height: 400px;
    background-image: url(./Images/Rectangle\ 9.png);
    background-position: center;
    background-repeat: no-repeat; 
}
.destination-bd-bandorbon{
    display: flex;
}
.bangladesh{
    width: 40%;
    height: 400px;
    text-align: center;
    background-image: url(./Images/Rectangle\ 11.png);
    background-position: center;
    background-repeat: no-repeat; 
}
.Bandarban{
    width: 60%;
    height: 400px;
    text-align: center;
    background-image: url(./Images/Rectangle\ 10.png);
    background-position: center;
    background-repeat: no-repeat; 
}

/* Your-Destination section end here */

.Choose-us-text{
    text-align: center;
    width: 550px;
    margin: 0 auto;
}
.Choose-icon-text-container{
    display: flex;
    max-width: 1200px;
    gap: 10px;
}
.Handpicked-Hotel{
    width: 50%;
    margin: 20px 0px;
    background-color: rgb(245, 239, 232);
    padding: 20px;
    border-radius: 10px;
}
.Handpicked-Hotel h3{
    margin: 10px 0px;
}
.Handpicked-Hotel img{
    width: 60px;
    margin: 15px 0px;
}
.Best-Price{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(250, 249, 195); 
}
.Best-Price img{
    width: 50px;
}
/* Choose-Us section end here */
 